body {
    background: rgb(236, 243, 234);
    color: rgb(11, 9, 31);
}


emojees {
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgba(0, 0, 200, 0.6);
    background: rgba(0, 0, 200, 0.3);
    color: rgba(0, 0, 200, 0.6);
    box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
}

.profileimg1 {
    width: 250px;
    height: 250px;
    padding: 1px;
    margin: 1px;
    border: 1px solid rgb(120, 50, 140);
    box-shadow: 1px 2px 2px 1px black;
    background: rgba(110, 102, 83, 0.3);
}

hr{
    width: 100%;
    color: beige;
    
}


.tbl-main-hd-1 {

    font-weight: bold;
}

td {
    font-weight: bold;
    color: brown;
}


form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}

.button {
    /* Align buttons with the text fields */
    padding-left: 90px;
    /* same size as the label elements */
    /* Color The Button */
    color: blue;
}

button {
    /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
    margin-left: .5em;
}

.top {
    text-align: center;
}